@model Pessoa

<h1>Bem vindos @ViewData["Nome"] @ViewBag.Sobrenome @ViewBag.Nome</h1>
<h2>@Model.Nome</h2>
<h3>@Html.Raw( ViewBag.Comentario)</h3>
<br />
<br />
<br />

<email propriedade-publica="" mail-to="rodolfo"></email>


<br />
<br />
<br />

@*@await Component.InvokeAsync("Noticias", new { total = 4, noticiasUrgentes = false })*@
<vc:noticias total="3" noticias-urgentes="true"></vc:noticias>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript">

    $.get("https://localhost:5001/api/paises/", function (data, status) {
        console.log("Data: " + data);
    });
</script>

@section footer{

    <div>
        Copy @DateTime.Now.Year
    </div>

}